.container{
    margin: 50px 0;
    width: 70%;
}

.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgb(65, 105, 225);
}
.deaths{
    border-bottom: 10px solid rgb(233, 2, 2);
}
.recovered{
    border-bottom: 10px solid rgb(0, 128, 0);
}

.conditionInfected{
    background: royalblue;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}
.conditionDeaths{
    background: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}
.conditionRecovered{
    background: green;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}