.headingText h1{
    background-color: rgba(0, 128, 0, 0.8);
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid  gray;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 770px) {
    .container{
        margin: 0 10%;
    }
}